.btn-primary{
    min-width: 173px;
    min-height: 50px;
    background-color: $color-primary-2 !important;
    border-color: $color-primary-2 !important;
    &:hover{
        background-color: #E7821D !important;
    }
    @media (max-width:767px) {
        min-width: auto !important;
        min-height: auto !important;
    }
    
}

.btn-info{
    min-width: 103px;
    min-height: 50px;
    background-color: transparent !important;
    border-color: $color-primary-2 !important;
    &:hover{
        border-color:#E7821D !important;
        color:#E7821D !important;
    }
   
    @media (max-width:767px) {
        min-width: auto !important;
        min-height: auto !important;
    }
    @media (max-width:260px){
        margin-bottom: 16px;
    }
}