
    .upload-input{
        display: none;
        
    }
textarea{
    border: 1px solid $color-placeholder;
}
.card-body-personal{
    .col-md-4{
        max-width: 32% !important;
    }
    @media (max-width:767px){
        .col-sm-6{
            max-width: 48.59% !important;
        }
    }
    @media (max-width:575px){
        .col-sm-6{
            max-width: 100% !important;
        }
    }
    input{
        padding: 12px;
       height: 40px;
       cursor: pointer;
        
    }
    
    
    .date-time{
        position: relative;

    }
    .calender{
            position: absolute;
            top: 10px;
            right: 16px;
        }
    
}







.floatLabel{
	
	position: relative;
	
	background-color: #fff;
		&:focus, &:hover{
		outline: none;
		border-color: $color-placeholder;
		+ label{
			color:$color-placeholder;
		cursor: text;
		}
	}
	
	select{
		cursor: pointer;
    }
    
	label{
		position: absolute;
		left: 8px;
		top: 4px;
		color:$color-placeholder;
		@media (max-width:991px){
            width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
		display: inline-block;
		padding: 4px 10px;
		font-weight: 400;
        pointer-events: none;
        @media (max-width:300px) {
            font-size: 12px;
        }
	
		&.active{
			top: -8px;
            color:$color-primary-active;
            left: 3px;
            background-color: #fff;
            font-size: 12px;
            display: flex;
            align-items: center;
            height: 14px;
            width: auto;
            transition: 0.3s ease-in-out;
		}
    }
    
    &--select{
       
        label{
            z-index: 999;
            position: absolute;
            left: 8px;
            top: 4px;
            color:$color-placeholder;
            
            display: inline-block;
            padding: 4px 10px;
            font-weight: 400;
            pointer-events: none;
            @media (max-width:300px) {
                font-size: 12px;
            }
        
            &.active{
                top: -8px;
                color:$color-primary-active;
                left: 3px;
                background-color:#fff;
                font-size: 12px;
                display: flex;
                align-items: center;
                height: 14px;
                width: auto;
                transition: 0.3s ease-in-out;
            }
        }
        
    }
    &--select2{
        label{
            z-index: 999;
            position: absolute;
            left: 8px;
            top: 4px;
            color:$color-placeholder;
            
            display: inline-block;
            padding: 4px 10px;
            font-weight: 400;
            pointer-events: none;
            @media (max-width:300px) {
                font-size: 12px;
            }
        
            &.active{
                top: 24px;
                color:$color-primary-active;
                left: 3px;
                background-color:#fff;
                font-size: 12px;
                display: flex;
                align-items: center;
                height: 14px;
                width: auto;
                transition: 0.3s ease-in-out;
            }
        }
        
    }

}

.form-group{
    .form-control{
        border:1px solid $color-placeholder ;
        color:$color-primary-active !important;
    }
    .upload-inputs{
        @media (max-width:320px){
            margin-top: 10px;
            display: block !important;
        }
    }
}





.floatLabel2{
	
	position: relative;
	background-color: #fff;
		&:focus, &:hover{
		outline: none;
		border-color: $color-placeholder;
		+ label{
			color:$color-placeholder;
		cursor: text;
		}
	}
	img{
        position: absolute;
        right: 16px;
        bottom:10px
    }
	select{
		cursor: pointer;
    }
    
	label{
		position: absolute;
        left: 8px;
        z-index: 999;
		top: 36px;
		color:$color-placeholder;
        @media (max-width:991px){
            width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
		display: inline-block;
		padding: 4px 10px;
		font-weight: 400;
        pointer-events: none;
      
        @media (max-width:300px) {
            font-size: 12px;
        }
		&.active{
			top: 24px;
            color:$color-primary-active;
            left: 4px;
            background-color: #fff;
            font-size: 12px;
            display: flex;
            align-items: center;
            z-index: 999;
            width: auto;
            height: 14px;
            transition: 0.3s ease-in-out;
		}
	}
}

#text-area{
    display: none;
}