header{
    box-shadow: 0px 3px 8px #00000014;
    .container{
        @media (max-width:1023px) {
            max-width: 100% !important;
        }
    }
    .nav-brand{
        min-height: 100px;
    }
}

