body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../../images/background_line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}
