
$body-bgcolor:#F2F5F9;



$color-primary:#266E7C;
$color-primary-2:#E79D54;

$color-primary-3:#6C757D;
$color-primary-active:#3D404A;
// personal-infomation

$title-note:#F3F3DA;
$title-note-font:#969645;

// accordion head

$accordion-head:#F2F5F9;

$color-placeholder:#ACB5BD;
$color-border:#ced4da;
$color-primary-4:#266E7C;